<div id="content">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <nav class="navbar navbar-expand-lg bg-linear">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/manager/payment" style="color: white;">Quản lý thanh toán</a>
                        <button class="btn btn-outline-light ms-2" type="submit" formaction="/manager/payment"><i class="fas fa-user-check "></i>Duyệt</button>
                    </div>
                </nav>
            </div>
            {{#if this.empty}}
                <div class="card-body">
                    <p class="card-text">Không có dữ liệu.</p>
                </div>
            {{else}}
            <div class="card-body">
                <div class="row">
                    <table class="table table-light table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col-auto">STT</th>
                                <th scope="col-auto">Tên người mua</th>
                                <th scope="col-auto">Tên gói nhu yếu phẩm</th>
                                <th scope="col-auto">Tiền thanh toán</th>
                                <th scope="col-auto">Ngày mua</th>
                                <th scope="col-auto">Ngày cuối thanh toán</th>
                                <th scope="col-auto">Hạn mức tối thiểu </th>
                                <th scope="col-auto">Gửi thông báo</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {{#each this.consume}}
                            <tr >
                                <th scope="row">{{STT}}</th>
                                <td>{{NameUser}}</td>
                                <td>{{NamePackage}}</td>
                                <td>{{format_number Price}} VNĐ</td>
                                <td>{{TimeBuy}}</td>
                                <td>{{TimeEnd}}</td>
                                <td>
                                    <div class="input-group" style="width: 50%">
                                        <input class="form-control" type="text" name="creditLimit" value="{{format_number CreditLimit}}" >
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                </td>
                                <td>
                                    <input class="form-check-input checkbox" type="checkbox" name="inform{{STT}}" data-checked="{{isChecked}}">
                                    <label class="form-check-label">
                                        <i class="fas fa-bell"></i>
                                    </label>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>   
                    </table>
                </div>
            </div>
            {{/if}}
        </div>
    </form>
</div>
{{#section 'css'}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/tooplate-main.css">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/assets/css/navBar.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{{/section}}

{{#section 'nav'}}
    {{> navbarManager }}
{{/section}}

{{#section 'script'}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
    $(document).ready(function() {
        if ($(".checkbox").data("checked") == true) {
            $(".checkbox").prop("checked", true)
        }
    })
</script>
{{/section}}