<div id="account">
    <div class="card" style="border: black solid 2px;">
        <div class="card-header text-center bg-linear">
            <div class="row align-items-center">
                <div class="mx-auto pl-5">
                    <i class="fa fa-user" aria-hidden="true" style="font-size: 25px;"></i>
                    <b style="font-size: 25px;">Quản lí tài khoản</b>
                </div>
                <div class="float-right">
                    <a class="btn btn-primary float-right" style="color:white;" id="create-user" href="javascript:;"
                        role="button" title="Add">
                        <i class="fa fa-plus" aria-hidden="true"></i> Thêm
                    </a>
                </div>
            </div>
        </div>
         {{#if this.empty}}
            <div class="card-body">
                <p class="card-text">Không có dữ liệu.</p>
            </div>
        {{else}}
            <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên tài khoản</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.accounts}}
                        <tr>
                        <th scope="row">{{Stt}}</th>
                        <td>{{Username}}</td>
                        <td> Manager </td>
                        <td class="text-right">
                            <a class="btn btn-primary" href="/admin/accounts/history?id={{Id}}&&page={{../page}}&&username={{Username}}" role="button" title="Watch">
                                <i class="far fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-{{#ifStr LockUp 0}}primary{{else}}danger{{/ifStr}}" href="/admin/accounts/lock?id={{Id}}&&lockUp={{LockUp}}&&page={{../page}}" role="button" title="lock up">
                                {{!-- <i class="fa fa-key" aria-hidden="true"></i> --}}
                                <img style="width:16px; height:16px" src="https://img.icons8.com/material-outlined/50/000000/lock--v1.png"/>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                    
                </tbody>
            </table>
        </div>
         {{/if}}
                 <nav aria-label="..." class="mx-auto">
            <ul class="pagination mx-auto">
                <li class="page-item  {{#unless can_go_prev}} disabled {{/unless}}">
                <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                {{#each this.page_items }}
                    {{#if isActive}}
                        <li class="page-item active" aria-current="page">
                        <span class="page-link">{{value}}</span>
                        </li>
                    {{else}}
                        <li class="page-item {{#if isDisabled}} disabled {{/if}}"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                    {{/if}}
                {{/each}}
                 <li class="page-item  {{#unless can_go_next}} disabled {{/unless}}">
                     <a class="page-link" href="?page={{next_value}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</div>

<div id="dialog-form" title="Tạo tài khoản mới" style="display: none;">
    <p class="validateTips">Điền tất cả các trường được yêu cầu.</p>     
    <form method="POST">
        <fieldset>
            <div class="input-group mb-3">
                <span class="input-group-text"> <i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="username" id="username" placeholder="Tên tài khoản">
            </div>
                <div class="input-group mb-3">
                <span class="input-group-text"> <i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu"/>
            </div>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

        </fieldset>
    </form>
</div>

{{#section 'css'}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/assets/css/navBar.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    {{> css/accountCss }}
{{/section}}

{{#section 'nav'}}
    {{> navbarAdmin }}
{{/section}}

{{#section 'script'}}
    <!-- Jquety ui and Jquery JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            var dialog, form,
        
            username = $("#username"),
            password = $("#password"),
            
            allFields = $([]).add(username).add(password),
            tips = $(".validateTips");
            
            function updateTips(t) {
                tips.text(t).addClass("ui-state-highlight");
                setTimeout(function() {
                    tips.removeClass("ui-state-highlight", 1500 );
                }, 500);
            }
        
            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass( "ui-state-error" );
                    updateTips( "Chiều dài " + n + " thuộc [" +
                    min + ", " + max + "]." );
                    return false;
                } else {
                    return true;
                }
            }
        
            function checkRegexp(o, regexp, n) {
                if (!(regexp.test(o.val()))) {
                    o.addClass("ui-state-error");
                    updateTips(n);
                    return false;
                } else {
                    return true;
                }
            }
        
            function addUser() {
                var valid = true;
                allFields.removeClass("ui-state-error");
                
                valid = valid && checkLength(username, "username", 3, 16);
                valid = valid && checkLength(password, "password", 5, 16);
            
                valid = valid && checkRegexp(username, /^[a-z]([0-9a-z_\s])+$/i, "Tên tài khoản có thể bao gồm a-z, 0-9, dấu gạch dưới, dấu cách và phải bắt đầu bằng một chữ cái.");
                valid = valid && checkRegexp(password, /^([0-9a-zA-Z])+$/, "Mật khẩu chỉ gồm a-z, 0-9");
                
                if (valid) {
                    $.ajax({
                        url: "/admin/accounts/add",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            username: username.val(),
                            password: password.val(),
                        }),
                        success: function(res){
                            if(res.success){
                                dialog.dialog("close");
                                window.location.href = res.redirect;
                            }
                            else{
                                username.addClass("ui-state-error");
                                updateTips("Tên tài khoản đã tồn tại.");
                            }
                        }   
                    });
                }
                return valid;
            }
        
            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 350,
                width: 400,
                modal: true,
                buttons: {
                    CreateUser:{ 
                        class: "CreateButton btn btn-primary",
                        text: "Create",
                        click : addUser
                    },
                    Cancel: {
                        class: "CancelButton btn btn-primary",
                        text: "Cancel",
                        click: function() {
                            tips.text("Điền các trường được yêu cầu.");
                            dialog.dialog("close");
                        }  
                    }
                },
                close: function() {
                    form[0].reset();
                    tips.text("Điền các trường được yêu cầu.");
                    allFields.removeClass("ui-state-error");
                }
            });
        
            form = dialog.find("form").on("submit", function(event) {
                event.preventDefault();
                addUser();
            });
        
            $("#create-user").button().on("click", function() {
                dialog.dialog("open");
            });
    });

    </script>
{{/section}}