<div id="content">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg bg-linear">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/manager/packets" style="color: white;">Các gói nhu yếu phẩm</a>
                    <form class="d-flex" method="get">
                        <a class="btn btn-outline-light me-2" role="button" data-bs-toggle="modal"
                            data-bs-target="#addPacket">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>

                        <div class="dropdown">
                            <button class="btn btn-outline-light me-2 dropdown-toggle" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-filter" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/manager/packets/filter/byCountMore5">Lọc theo số lượng sản phẩm lớn hơn 5</a></li>
                                <li><a class="dropdown-item" href="/manager/packets/filter/byCountLess5">Lọc theo số lượng sản phẩm nhỏ hơn 5</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-light me-2 dropdown-toggle" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-sort" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/manager/packets/sort/byName">Sắp xếp theo tên</a></li>
                                <li><a class="dropdown-item" href="/manager/packets/sort/byLimitProducts">Sắp xếp theo mức giới hạn số lượng mỗi sản phẩm</a></li>
                                <li><a class="dropdown-item" href="/manager/packets/sort/byLimitPeople">Sắp xếp theo mức giới hạn gói cho mỗi người</a></li>
                                <li><a class="dropdown-item" href="/manager/packets/sort/byLimitTime">Sắp xếp theo thời gian giới hạn</a></li>
                            </ul>
                        </div>
                        <input class="form-control me-2 search-box" type="text" placeholder="Search" name="search">
                        <button class="btn btn-outline-light btn-search" type="submit" formaction="/manager/packets/search"><i class="fas fa-search"
                                aria-hidden="true"></i></button>
                    </form>
                </div>

            </nav>
        </div>
        {{#if this.empty}}
            <div class="card-body">
                <p class="card-text">Không có dữ liệu.</p>
            </div>
        {{else}}
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                {{#each this.packets}}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{Id}}" aria-expanded="true" aria-controls="collapse{{Id}}">
                            {{NamePackage}}
                        </button>
                    </h2>
                    <div id="collapse{{Id}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordion{{Id}}">
                        <div class="accordion-body">
                            <p><strong> Tên gói: </strong> {{NamePackage}}</p>
                            <p><strong> Danh sách các sản phẩm trong gói:</strong></p>
                            <ul>
                                {{#each products}}
                                    <li class="text-capitalize">{{this.NameProduct}}</li>
                                {{/each}}
                                
                            </ul>
                            <p> <strong>Mức giới hạn số lượng mỗi sản phẩm trong gói:</strong> {{LimitProducts}}</p>
                            <p> <strong>Mức giới hạn gói cho mỗi người theo thời gian: </strong> {{LimitPeople}}</p>
                            <p> <strong>Thời gian giới hạn (tính theo ngày): </strong> {{LimitTime}} ngày</p>
                            {{#if Introduce}}
                                <p> <strong>Mô tả: </strong> {{Introduce}}</p>
                            {{/if}}
                        </div>
                        <div class="accordion-footer ms-3 mb-1">
                            <a class="btn btn-outline-primary" role="button" title="Edit"
                                data-bs-toggle="modal" data-bs-target="#editPacket{{Id}}">
                                <i class="far fa-edit" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-outline-danger" role="button" data-bs-toggle="modal"
                            data-bs-target="#deletePacket{{Id}}">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-outline-info" role="button" data-bs-toggle="modal"
                                data-bs-target="#infoProduct{{Id}}">
                                More Info
                                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
        {{/if}}
    </div>
    <!-- Modal of More Info-->
    {{#each this.packets}}
    <div class="modal fade" id="infoProduct{{Id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết của {{NamePackage}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        {{#each products}}
                        <div class="card h-100 mx-auto mb-2 edit-card" style="width: 23rem;">
                            <div id="carouselpro{{Id}}" class="carousel slide card-img-top" data-bs-ride="carousel">
                                <div class="carousel-inner">                                  
                                    {{#each images}}
                                    <div class="carousel-item">
                                        <img src="/{{Img}}"
                                            class="d-block w-100 edit-image" alt="{{Img}}">
                                    </div>
                                    {{/each}}                                
                                </div>
                                
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselpro{{Id}}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden"></span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselpro{{Id}}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden"></span>
                                </button> 
                            </div>
                           
                            <div class="card-body">
                                <h5 class="card-title text-capitalize">{{NameProduct}}</h5>
                                <div class="card-text fs-5">Giá tiền: {{format_number Price}} VNĐ</div>
                                <div class="card-text fs-5">Đơn vị định lượng: {{Unit}}</div>
                            </div>
                        </div>
                        {{/each}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    {{/each}}
    <!-- Modal of Add-->
    <div class="modal fade" id="addPacket" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form method="post" action="/manager/packets/add">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm gói nhu yếu phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label for="packetName">Tên gói: </label>
                            <input class="form-control packetNameAdd" type="text" name="packetName">
                            <div class="checkNameAdd"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="productOfPacket">Danh sách các sản phẩm: </label>
                            <br>
                            <ul style="list-style-type: none;">
                                {{#each allProducts}}
                                <li>
                                    <input type="checkbox" class="packetCheckboxAdd" name="options[]" value="{{Id}}">
                                    <label class="text-capitalize"> {{NameProduct}}</label><br>
                                </li>
                                {{/each}}
                            </ul>
                            <div class="checkOptionAdd"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="packetLimitProduct">Mức giới hạn số lượng mỗi sản phẩm trong gói: </label>
                            <input class="form-control packetProductAdd" type="number" name="packetLimitProducts">
                            <div class="checkProductAdd"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="packetLimitPacket">Mức giới hạn gói cho mỗi người theo thời gian: </label>
                            <input class="form-control packetAdd" type="number" name="packetLimitPacket">
                            <div class="checkPacketAdd"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="limitTime">Thời gian giới hạn (tính theo ngày): </label>
                            <input class="form-control packetTimeAdd" type="number" name="limitTime" >
                            <div class="checkTimeAdd"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary btn-add" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal of Edit-->
    {{#each this.packets }}
    <div class="modal fade" id="editPacket{{Id}}" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="/manager/packets/update/{{Id}}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa gói nhu yếu phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label for="packetName">Tên gói: </label>
                            <input class="form-control packetNameEdit" type="text" name="packetName" value="{{NamePackage}}">
                            <div class="checkNameEdit"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="productOfPacket">Danh sách các sản phẩm: </label>
                            <br>
                            <ul style="list-style-type: none;">
                                {{#each products}}
                                <li>
                                    <input type="checkbox" name="options[]" value="{{Id}}" checked>
                                    <label class="text-capitalize"> {{NameProduct}}</label><br>
                                </li>
                                {{/each}}
                            </ul>
                            <label for="notProductOfPacket">Danh sách sản phẩm không nằm trong gói: </label>
                            <br>
                            <ul style="list-style-type: none;">
                                {{#each uncheckedProducts}}
                                <li>
                                    <input type="checkbox" name="options[]" value="{{Id}}">
                                    <label class="text-capitalize"> {{NameProduct}}</label><br>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="form-group mb-2">
                            <label for="packetLimitProduct">Mức giới hạn số lượng mỗi sản phẩm trong gói: </label>
                            <input class="form-control packetProductEdit" type="number" name="packetLimitProducts" value="{{LimitProducts}}">
                            <div class="checkProductEdit"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="packetLimitPacket">Mức giới hạn gói cho mỗi người theo thời gian: </label>
                            <input class="form-control packetEdit" type="number" name="packetLimitPacket" value="{{LimitPeople}}">
                            <div class="checkPacketEdit"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="limitTime">Thời gian giới hạn (tính theo ngày): </label>
                            <input class="form-control packetTimeEdit" type="number" name="limitTime" value="{{LimitTime}}">
                            <div class="checkTimeEdit"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary btn-edit" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- Modal of Delete-->
    {{#each this.packets }}
    <div class="modal fade" id="deletePacket{{Id}}" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="/manager/packets/delete/{{Id}}">
                    <div class="modal-header">
                        <div class="form-group mb-2 h2">
                            Xóa gói như yếu phẩm
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            Bạn thực sự muốn xóa <strong>{{NamePackage}}</strong>?
                            <input type="text" name="Id" value="{{Id}}" hidden />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <input type="submit" class="btn btn-primary" value="Yes" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{#section 'css'}}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<!-- Our Custom CSS -->
<link rel="stylesheet" href="/assets/css/navBar.css">
<link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
<!-- Font Awesome JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{{/section}}

{{#section 'nav'}}
    {{> navbarManager }}
{{/section}}

{{#section 'script'}}
<!-- Popper.JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function() {
        $(".carousel-item:nth-child(1)").addClass("active");
        // ẩn nút search khi không có tìm kiếm
        $('.btn-search').prop('disabled', true);
        $('.search-box').keyup(function() {
            if($(this).val().length != 0) {
                $('.btn-search').prop('disabled', false);
            }
            else {
                $('.btn-search').prop('disabled', true);
            }
        });

        // Kiểm tra ràng buộc các ô được nhập
        function alert(message, type, element) {
            $(`.check${element}Edit`).html('<div class="alert alert-' + type + ' d-flex align-items-center mt-1 alert-dismissible" role="alert"> <i class="fas fa-exclamation-triangle"></i> <div>' + message + '</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
        }

        function alertAdd(message, type, element) {
            $(`.check${element}Add`).html('<div class="alert alert-' + type + ' d-flex align-items-center mt-1 alert-dismissible" role="alert"> <i class="fas fa-exclamation-triangle"></i> <div>' + message + '</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
        }

        // Kiêm tra ràng buộc ở chỉnh sửa
        var checkName = 1, checkProduct = 1, checkPacket = 1, checkTime = 1;
        $('.packetNameEdit').keyup(function() {
            if($(this).val().length != 0)
            {
                checkName = 1;
                $('.checkNameEdit').html('');
                if(checkName == 1 && checkProduct == 1 && checkPacket == 1 && checkTime == 1)
                    $('.btn-edit').prop('disabled', false);
            }
            else
            {
                checkName = 0;
                alert('Vui lòng điền tên gói sản phẩm!', 'danger', 'Name');
                $('.btn-edit').prop('disabled', true);
            }
        });
        $('.packetProductEdit').keyup(function() {
            if($(this).val().length != 0)
            {
                checkProduct = 1;
                $('.checkProductEdit').html('');
                if(checkName == 1 && checkProduct == 1 && checkPacket == 1 && checkTime == 1)
                    $('.btn-edit').prop('disabled', false);
            }
            else
            {
                checkProduct = 0;
                alert('Vui lòng điền mức giới hạn số lượng mỗi sản phẩm trong gói!', 'danger', 'Product');
                $('.btn-edit').prop('disabled', true);
            }   
        });
        $('.packetEdit').keyup(function() {          
            if($(this).val().length != 0)
            {
                checkPacket = 1;
                $('.checkPacketEdit').html('');
                if(checkName == 1 && checkProduct == 1 && checkPacket == 1 && checkTime == 1)
                    $('.btn-edit').prop('disabled', false);
            }
            else
            {
                checkPacket = 0;
                alert('Vui lòng điền mức giới hạn gói cho mỗi người theo thời gian!', 'danger', 'Packet');
                $('.btn-edit').prop('disabled', true);
            }
        });
        $('.packetTimeEdit').keyup(function() {          
            if($(this).val().length != 0)
            {
                checkTime = 1;
                $('.checkTimeEdit').html('');
                if(checkName == 1 && checkProduct == 1 && checkPacket == 1 && checkTime == 1)
                    $('.btn-edit').prop('disabled', false);
            }
            else
            {
                checkTime = 0;
                alert('Vui lòng điền thời gian giới hạn của gói!', 'danger', 'Time');
                $('.btn-edit').prop('disabled', true);
            }
        });

        // Kiểm tra ràng buộc khi thêm sản phẩm
        var checkNameAdd = 0, checkProductAdd = 0, checkPacketAdd = 0, checkTimeAdd = 0;
        $('.btn-add').prop('disabled', true);
        $('.packetNameAdd').keyup(function() {
            if($(this).val().length != 0)
            {
                checkNameAdd = 1;
                $('.checkNameAdd').html('');
                if(checkNameAdd == 1 && checkProductAdd == 1 && checkPacketAdd == 1 && checkTimeAdd == 1)
                    $('.btn-add').prop('disabled', false);
            }
            else
            {
                checkNameAdd = 0;
                alertAdd('Vui lòng điền tên gói sản phẩm!', 'danger', 'Name');
                $('.btn-add').prop('disabled', true);
            }
        });
        $('.packetProductAdd').keyup(function() {
            if($(this).val().length != 0)
            {
                checkProductAdd = 1;
                $('.checkProductAdd').html('');
                if(checkNameAdd == 1 && checkProductAdd == 1 && checkPacketAdd == 1 && checkTimeAdd == 1)
                    $('.btn-add').prop('disabled', false);
            }
            else
            {
                checkProductAdd = 0;
                alertAdd('Vui lòng điền mức giới hạn số lượng mỗi sản phẩm trong gói!', 'danger', 'Product');
                $('.btn-add').prop('disabled', true);
            }   
        });
        $('.packetAdd').keyup(function() {          
            if($(this).val().length != 0)
            {
                checkPacketAdd = 1;
                $('.checkPacketAdd').html('');
                if(checkNameAdd == 1 && checkProductAdd == 1 && checkPacketAdd == 1 && checkTimeAdd == 1)
                    $('.btn-add').prop('disabled', false);
            }
            else
            {
                checkPacketAdd = 0;
                alertAdd('Vui lòng điền mức giới hạn gói cho mỗi người theo thời gian!', 'danger', 'Packet');
                $('.btn-add').prop('disabled', true);
            }
        });
        $('.packetTimeAdd').keyup(function() {          
            if($(this).val().length != 0)
            {
                checkTimeAdd = 1;
                $('.checkTimeAdd').html('');
                if(checkNameAdd == 1 && checkProductAdd == 1 && checkPacketAdd == 1 && checkTimeAdd == 1)
                    $('.btn-add').prop('disabled', false);
            }
            else
            {
                checkTimeAdd = 0;
                alertAdd('Vui lòng điền thời gian giới hạn của gói!', 'danger', 'Time');
                $('.btn-add').prop('disabled', true);
            }
        }); 
    });
</script>
{{/section}}