<div id="content">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg bg-linear">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/manager/products" style="color: white;">Các sản phẩm nhu yếu phẩm</a>
                    <form class="d-flex" method="post">
                        <a class="btn btn-outline-light me-2" role="button" data-bs-toggle="modal"
                            data-bs-target="#addProduct">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        
                        <div class="dropdown">
                            <button class="btn btn-outline-light me-2 dropdown-toggle" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-filter" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/manager/products/filter/byUnitKg">Lọc theo đơn vị kg</a></li>
                                <li><a class="dropdown-item" href="/manager/products/filter/byCost10k">Lọc theo giá tiền tối thiểu từ 10,000 VNĐ</a></li>
                                <li><a class="dropdown-item" href="/manager/products/filter/byCost0k">Lọc theo giá tiền tối đa tới 10,000 VNĐ</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-light me-2 dropdown-toggle" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-sort" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/manager/products/sort/byName">Sắp xếp theo tên</a></li>
                                <li><a class="dropdown-item" href="/manager/products/sort/byCost">Sắp xếp theo giá tiền</a></li>
                            </ul>
                        </div>
                        <input class="form-control me-2 search-box" type="text" name="search" placeholder="Search">
                        <button class="btn btn-outline-light btn-search" type="submit" formaction="/manager/products/search"><i class="fas fa-search"
                                aria-hidden="true"></i></button>
                    </form>
                </div>

            </nav>
        </div>
        {{#if this.empty}}
            <div class="card-body">
                <p class="card-text">Không có dữ liệu.</p>
            </div>
        {{else}}
        <div class="card-body">
            <div class="row d-flex flex-row justify-content-center">
                {{#each this.products }}
                <div class="col-lg-4 mb-3">
                    <div class="card h-100 w-20 edit-card">
                        <div id="carousel{{Id}}" class="carousel slide card-img-top" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {{#each images}}
                                <div class="carousel-item">
                                    <img src="/{{Img}}"
                                        class="d-block w-100 edit-image" alt="{{Img}}">
                                </div>
                                {{/each}}
                                
                            </div>
                            
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carousel{{Id}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden"></span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carousel{{Id}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden"></span>
                            </button> 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-capitalize">{{NameProduct}}</h5>
                            <div class="card-text fs-5">Giá tiền: {{format_number Price}} VNĐ</div>
                            <div class="card-text fs-5">Đơn vị định lượng: {{Unit}}</div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-primary" role="button" title="Edit" data-bs-toggle="modal"
                            data-bs-target="#editProduct{{Id}}">
                                <i class="far fa-edit" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-outline-danger" role="button" data-bs-toggle="modal"
                            data-bs-target="#deleteProduct{{Id}}">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>

            <!-- Pagination of Product -->  
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item  {{#unless can_go_prev}} disabled {{/unless}}">
                    <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    {{#each this.page_items }}
                        {{#if isActive}}
                            <li class="page-item active" aria-current="page">
                            <span class="page-link">{{value}}</span>
                            </li>
                        {{else}}
                            <li class="page-item {{#if isDisabled}} disabled {{/if}}"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                    {{/each}}
                    <li class="page-item  {{#unless can_go_next}} disabled {{/unless}}">
                        <a class="page-link" href="?page={{next_value}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </div>
        {{/if}}

    </div>
    <!-- Modal of Add-->
    <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="/manager/products/add" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label for="productName">Tên sản phẩm: </label>
                            <input class="form-control productNameAdd" type="text" name="productName">
                            <div class="checkNameAdd"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="productImage">Hình ảnh: </label>
                            <input class="form-control productImageAdd" type="file" name="productImage" id="productImage" multiple>
                            <div class="checkImageAdd"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="productPrice">Giá tiền: </label>
                            <input class="form-control productPriceAdd" type="number" name="productPrice">
                            <div class="checkPriceAdd"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="productName">Đơn vị định lượng: </label>
                            <input class="form-control productUnitAdd" type="text" name="productUnit">
                            <div class="checkUnitAdd"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary btn-add" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal of Edit-->
    {{#each this.products }}
    <div class="modal fade" id="editProduct{{Id}}" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="/manager/products/update/{{Id}}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label for="productName">Tên sản phẩm: </label>
                            <input class="form-control productNameEdit" type="text" name="productName" value="{{NameProduct}}">
                            <div class="checkNameEdit"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="productPrice">Giá tiền: </label>
                            <input class="form-control productPriceEdit" type="number" name="productPrice" id="productPrice" value="{{Price}}">
                            <div class="checkPriceEdit"></div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="productUnit">Đơn vị định lượng: </label>
                            <input class="form-control productUnitEdit" type="text" name="productUnit" id="productUnit" value="{{Unit}}">
                            <div class="checkUnitEdit"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary btn-edit" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- Modal of Delete-->
    {{#each this.products }}
    <div class="modal fade" id="deleteProduct{{Id}}" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" action="/manager/products/delete/{{Id}}">
                    <div class="modal-header">
                        <div class="form-group mb-2 h2">
                            Xóa sản phẩm
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            Bạn thực sự muốn xóa <strong>{{NameProduct}}</strong>?
                            <input type="text" name="Id" value="{{Id}}" hidden />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <input type="submit" class="btn btn-primary" value="Yes" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
{{#section 'css'}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/assets/css/navBar.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Upload CSS-->
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{> css/productCss }}
{{/section}}

{{#section 'nav'}}
    {{> navbarManager }}
{{/section}}

{{#section 'script'}}
<!-- Popper.JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- Upload JS-->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/themes/fas/theme.min.js"></script>
<script>
    
    $(document).ready( () => {
        // thêm class active vào phần tử đầu tiên của ảnh
        $(".carousel-item:nth-child(1)").addClass("active");

        // ẩn nút search khi không có tìm kiếm
        $('.btn-search').prop('disabled', true);
        $('.search-box').keyup(function() {
            if($(this).val().length != 0) {
                $('.btn-search').prop('disabled', false);
            }
            else {
                $('.btn-search').prop('disabled', true);
            }
        });

        // Upload ảnh
        $( function() {
            $("#productImage").fileinput({
                uploadUrl: "/images",
                maxFileCount: 5,
                allowedFileTypes: ['image'],    // allow only images
                showCancel: true,
                initialPreviewAsData: true,
                overwriteInitial: false,
                theme: 'fas',
            });
        });
        // Kiểm tra ràng buộc các ô được nhập
        function alert(message, type, element) {
            $(`.check${element}Edit`).html('<div class="alert alert-' + type + ' d-flex align-items-center mt-1 alert-dismissible" role="alert"> <i class="fas fa-exclamation-triangle"></i> <div>' + message + '</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
        }

        function alertAdd(message, type, element) {
            $(`.check${element}Add`).html('<div class="alert alert-' + type + ' d-flex align-items-center mt-1 alert-dismissible" role="alert"> <i class="fas fa-exclamation-triangle"></i> <div>' + message + '</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
        }

        // Kiêm tra ràng buộc ở chỉnh sửa
        var checkName = 1, checkPrice = 1, checkUnit = 1;
        $('.productNameEdit').keyup(function() {
            if($(this).val().length != 0)
            {
                checkName = 1;
                $('.checkNameEdit').html('');
                if(checkName == 1 && checkPrice == 1 && checkUnit == 1)
                    $('.btn-edit').prop('disabled', false);
            }
            else
            {
                checkName = 0;
                alert('Vui lòng điền tên sản phẩm!', 'danger', 'Name');
                $('.btn-edit').prop('disabled', true);
            }
        });
        $('.productPriceEdit').keyup(function() {
            if($(this).val().length != 0)
            {
                checkPrice = 1;
                $('.checkPriceEdit').html('');
                if(checkName == 1 && checkPrice == 1 && checkUnit == 1)
                    $('.btn-edit').prop('disabled', false);
            }
            else
            {
                checkPrice = 0;
                alert('Vui lòng điền số tiền của sản phẩm!', 'danger', 'Price');
                $('.btn-edit').prop('disabled', true);
            }   
        });
        $('.productUnitEdit').keyup(function() {          
            if($(this).val().length != 0)
            {
                checkUnit = 1;
                $('.checkUnitEdit').html('');
                if(checkName == 1 && checkPrice == 1 && checkUnit == 1)
                    $('.btn-edit').prop('disabled', false);
            }
            else
            {
                checkUnit = 0;
                alert('Vui lòng điền đơn vị định lượng của sản phẩm!', 'danger', 'Unit');
                $('.btn-edit').prop('disabled', true);
            }
        });

        // Kiểm tra ràng buộc khi thêm sản phẩm
        var checkNameAdd = 0, checkImageAdd = 0, checkPriceAdd = 0, checkUnitAdd = 0;
        $('.btn-add').prop('disabled', true);
        $('.productNameAdd').keyup(function() {
            if($(this).val().length != 0)
            {
                checkNameAdd = 1;
                $('.checkNameAdd').html('');
                if(checkNameAdd == 1 && checkPriceAdd == 1 && checkUnitAdd == 1)
                    $('.btn-add').prop('disabled', false);
            }
            else
            {
                checkNameAdd = 0;
                alertAdd('Vui lòng điền tên sản phẩm!', 'danger', 'Name');
                $('.btn-add').prop('disabled', true);
            }
        });
        $('.productPriceAdd').keyup(function() {
            if($(this).val().length != 0)
            {
                checkPriceAdd = 1;
                $('.checkPriceAdd').html('');
                if(checkNameAdd == 1 && checkPriceAdd == 1 && checkUnitAdd == 1)
                    $('.btn-add').prop('disabled', false);
            }
            else
            {
                checkPriceAdd = 0;
                alertAdd('Vui lòng điền số tiền của sản phẩm!', 'danger', 'Price');
                $('.btn-add').prop('disabled', true);
            }   
        });
        $('.productUnitAdd').keyup(function() {           
            if($(this).val().length != 0)
            {
                checkUnitAdd = 1;
                $('.checkUnitAdd').html('');
                if(checkNameAdd == 1 && checkPriceAdd == 1 && checkUnitAdd == 1)
                    $('.btn-add').prop('disabled', false);
            }
            else
            {
                checkUnitAdd = 0;
                alertAdd('Vui lòng điền đơn vị định lượng của sản phẩm!', 'danger', 'Unit');
                $('.btn-add').prop('disabled', true);
            }
        });        
    });
      
</script>
{{/section}}